---
import Layout from "../layouts/Layout.astro";

const res = await fetch(
	`${import.meta.env.WORDPRESS_API_URL}/wp-json/wp/v2/pages?slug=academics`,
);
const posts = await res.json();
const content: string = posts[0].content.rendered;
---

<Layout title="Academics">
	<div class="grid place-items-center h-screen content-center">
		<div set:html={content} />
	</div>
</Layout>
