---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="ðŸ‹ðŸ’–">
		<div class="grid place-items-center h-screen content-center">
			<Button>Tailwind Button in Astro!</Button>
		</div>
</Layout>

